.idea/
node_modules/
yarn.lock
package-lock.json
static/dist/
*.iml
webpack-assets.json
webpack-stats.json
npm-debug.log
.happypack
webpack/dlls/*.json
api/**/*.nedb
*.report.html
.DS_Store
tmp-*
build/contracts/*.json
webpack/
images/
static/
docs/
docker/
.babelrc
.bootstraprc
.dockerignore
.editorconfig
.eslintignore
.eslintrc
.travis.yml
app.json
circle.yml
CONTRIBUTING.md 
Dockerfile
karma.conf.js
LICENSE
package.json
postcss.config.js
server.babel.js
tests.webpack.js
truffle.js